h1,
p {
  font-family: Lato;
}

html,
body {
  height: 100%;
}

.Logo {
  margin-left: 22px;
}

.nav-item {
  font-size: 18px;
}

.nav-item:hover {
  background-color: #995c00;
  border-radius: 16px;
  max-width: 80px;
  text-align: center;
}
